body {
    background-color: rgb(228, 134, 13);
}
.container{
    background-color: rgb(228, 134, 13);
    text-align: center;
}
.jumbotron{
    background-color: lightseagreen;
    color: white;
    text-align: center;
}
